<header>
  <h1>Conway's Game of Life</h1>
</header>
<div class="controls">
  <button class="button-start" [class.active]="isPlaying()" (click)="isPlaying.set(!isPlaying())">
    {{ isPlaying() ? 'Pause' : 'Start' }}
  </button>
  <button class="button-random" (click)="game.randomize()">Random</button>
  <button class="button-reset" (click)="game.reset()">Reset</button>

  <div class="stats">
    <span>Generationen: <strong>{{ generation() }}</strong></span>
    <span>Lebende Zellen: <strong>{{ game.activeCells() }}</strong></span>
  </div>
</div>

<div class="grid-viewport">
  <div class="grid"
       [style.gridTemplateColumns]="'repeat(' + game.cols() + ', 20px)'"
       [style.gridTemplateRows]="'repeat(' + game.rows() + ', 20px)'">

    @for (row of game.grid(); track rIdx; let rIdx = $index) {
    @for (cell of row; track cIdx; let cIdx = $index) {
    <div class="cell"
         [class.alive]="cell === 1"
         (click)="game.toggleCell(rIdx, cIdx)">
    </div>
    }
    }
  </div>
</div>
